<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.r6strategies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_r6strats"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_r6strats_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.R6strategies">
        <activity android:name=".oregon.Valkyrie"></activity>
        <activity android:name=".bank.SelectSpotBank" />
        <activity
            android:name=".Intro.Splash"
            android:theme="@style/Theme.R6strategies.noAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bank.BankStrat"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".bank.BankStrat1"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".bank.BankStrat2"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".bank.BankStrat3"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.CostaStrat"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.CostaStrat1"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.CostaStrat2"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.CostaStrat3"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity android:name=".coastline.SelectSpotCosta" />
        <activity android:name=".kafe.SelectSpotKafe" />
        <activity
            android:name=".kafe.KafeStrat"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kafe.KafeStrat1"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kafe.KafeStrat2"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kafe.KafeStrat3"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.CLBStrat3"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".oregon.OregonStrat3"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.CLBStrat2"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.CLBStrat1"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.CLBStrat"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity android:name=".clb.SelectSpotCLB" />
        <activity
            android:name=".oregon.OregonStrat2"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".oregon.OregonStrat1"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity android:name=".oregon.SelectSpotOregon" />
        <activity
            android:name=".oregon.OregonStrat"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>