<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.r6strategies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_r6strats"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_r6strats_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.R6strategies">
        <activity android:name=".AvailableSoonScreen"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.R6strategies.noAction"></activity>
        <activity
            android:name=".FirstScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".WallsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.operatore" />
        <activity
            android:name=".Operatore"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.operatore" />
        <activity
            android:name=".bank.SelectSpotBank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Intro.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bank.BankStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".bank.BankStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".bank.BankStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".bank.BankStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".border.SelectSpotBorder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".border.BorderStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".border.BorderStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".border.BorderStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".border.BorderStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kanal.SelectSpotKanal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kanal.kanalStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kanal.kanalStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kanal.kanalStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kanal.kanalStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".skyscraper.SelectSpotSkyscraper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skyscraper.skyscraperStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".skyscraper.skyscraperStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".skyscraper.skyscraperStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".skyscraper.skyscraperStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".theme.SelectSpotTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".theme.themeStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".theme.themeStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".theme.themeStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".theme.themeStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".villa.SelectSpotVilla"
            android:screenOrientation="portrait" />
        <activity
            android:name=".villa.villaStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".villa.villaStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".villa.villaStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".villa.villaStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.CostaStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.CostaStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.CostaStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.CostaStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".coastline.SelectSpotCosta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kafe.SelectSpotKafe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kafe.KafeStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kafe.KafeStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kafe.KafeStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".kafe.KafeStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.CLBStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".oregon.OregonStrat3"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.CLBStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.CLBStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.CLBStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".clb.SelectSpotCLB"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oregon.OregonStrat2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".oregon.OregonStrat1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".oregon.SelectSpotOregon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oregon.OregonStrat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.R6strategies.noAction" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>